.button {
    font-size: 20px;
    line-height: 24px;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.disabled {
    pointer-events: none;
}
.white {
    background-color: #fff;
    color: rgba(25, 28, 31, 1);
}
.blue {
    background-color: #2a6cea;
    color: #fff;
}
