.input {
    padding: 16px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    line-height: 32px;
    &::placeholder {
        font-size: 18px;
        color: #959ba1;
    }
}
