@import '/src/scss/variables.scss';
.section {
    padding-top: 80px;
    padding-bottom: 80px;
    @media ($tablet) {
        padding-top: 56px;
        padding-bottom: 56px;
    }
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.title {
    margin-bottom: 44px;
}
.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 46px;
    max-width: 800px;
    @media ($phone) {
        grid-template-columns: 1fr;
        gap: 20px;
        width: 100%;
    }
}
.errors {
    position: absolute;
    top: calc(100% + 10px);
    display: flex;
    gap: 5px;
}
.error {
    color: red;
}
