@import '/src//scss/variables.scss';

.section {
    padding-bottom: 80px;
    @media ($tablet) {
        padding-bottom: 56px;
    }
}
.title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 18px;
    font-weight: 600;
    color: var(--title-color);
}
.wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
    @media ($tablet) {
        gap: 29px;
    }
    @media ($phone) {
        flex-direction: column-reverse;
    }
}
.left,
.right {
    width: 50%;
    @media ($phone) {
        width: 100%;
    }
}
.right {
    display: flex;
    justify-content: center;
}
